html{
    box-sizing: border-box;
    font-family: 'Lato', arial, helvetica;
    font-size: 62.5%;
}

*{
    margin: 0;
    box-sizing: inherit;
}

.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide{
    max-width: 948px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.c-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.c-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.c-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

